<div class="container pb-5 mb-5 pt-5">
  <img src="assets/img/DDSConverter.PNG" alt="Mega Tool" class="rounded float-right px-3 pb-4 responsive-image">

  <h5>DDS Converter</h5>
  <p>This is a very minimal tool that I wrote that just takes a to and a from path. With this information it simply takes all the targa files in the from folder and it's subfolder, convertes them to DDS and puts them in the to folder.</p>

  <p>If the to folder does not exist since before, it is created. A neat little feature in this tool is that it will check if the source image is only a single color and if so it will resize the output image to 16x16 pixels.</p>

  <p>The motivation for writing this tool is that our custom game engine uses dds files. The tool is specifically constructed to be easy to integrate with our Mega Tool in maya.</p>
</div>