<div class="container pb-5 mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 mt-4">​
      <h4>About me</h4>
      <p>I am currently studying technical art at The Game Assembly with my main focus being on VFX and shaders. I have been at the school since September 2018 and this far I have been studying a very broad array of topics. Going forward I am about to specialize in my main area.</p>
          
      <p>Prior to The Game Assembly I have over five years of academic and professional experience in software development. I have also been teaching myself 3D modelling and sculpting in my spare time.</p>

      <p>My interest in software development far precedes this though as I started writing my own web pages at around age 10. Since I started writing code and up to this day the most satisfying aspect of it has been to solve technical problems in order to make things look good.</p>



    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12 justify-content-center">
      <img src="assets/img/Portrait.gif" alt="Me" class="rounded img-fluid">
      <p class="text-muted"><em>This is one of the first shaders I wrote when I started learning HLSL.</em></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mt-4">
      <h3 class="">Contact/ Documents</h3>
      <p><a href="mailto:anton@antonlindgren.com"><i class="fa fa-envelope"></i> anton@antonlindgren.com</a></p>
      <p><a target="_blank" href="https://www.linkedin.com/in/anton-lindgren-60147165"><i class="fa fa-linkedin"></i> LinkedIn</a>
      <p><a target="_blank" href="../../assets/pdf/anton_lindgren_resume.pdf"><i class="fa fa-file"></i> Resume</a></p>
    </div>
  </div>
</div>