<div class="container clearfix pb-5 mb-5 gallery">
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../water" class="img-fluid">
          <img src="assets/img/Ocean/Ocean.gif" class="img-fluid w-100" alt="Water shader" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../ice" class="img-fluid">
          <img src="assets/img/Ice/IceThumbnail.gif" class="img-fluid w-100" alt="Freeze effect" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../megatool" class="img-fluid">
          <img src="assets/img/Megatool_thumbnail.png" class="img-fluid w-100" alt="Mega Tool" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../rubikscube" class="img-fluid">
          <img src="assets/img/rubiks_cube.gif" class="img-fluid w-100" alt="Rubik's Cube Shader" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>
    <!-- <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../deathanddecay" class="img-fluid">
          <img src="assets/img/rubiks_cube.gif" class="img-fluid w-100" alt="Death and Decay Scene" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div> -->
  </div>
</div>