<div class="container pb-5 mb-5 gallery">

  <div class="row">

    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../swarm" class="img-fluid">
          <img src="assets/img/swarm/swarm.gif" class="img-fluid w-100" alt="SWARM" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../spite" class="img-fluid">
          <img src="assets/img/Spite/SpiteThumbnail.gif" class="img-fluid w-100" alt="Spite: Ohtilis ascent" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>

  </div>

</div>