<div class="container clearfix pb-5 mb-5 pt-5">

  <div class="row mb-4 px-4">
    <div class="col-sm-12 video-container">
      <iframe src="https://www.youtube.com/embed/Bpj3nnyoKfw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="video" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row px-3">
    <div class="col-sm-12">
      <h4 class="pt-4">Rubik's Cube Shader</h4>
      <p>I had a day off and I was reading up on matrix transformations. I wanted to get some hands on practical experience as well and this shader is the output I had at the end of the day.</p>
    </div>
  </div>

  
  <div class="clearfix py-5">
    <img src="assets/img/cube_small.png" alt="Maya cube" class="rounded float-right px-3 pb-2 responsive-image">

    <div class="px-3">
      <p>In order to perform the rotations I am using three different rotation matrices for the different axes. The next step from there was to mask out one third of the cube so as to only spin one plane at a time. I basically did this by just masking out a third of the cube with the step function.</p>

      <p>The problem with this method is that if the mesh is cohesive there will be really awkward skewing between the vertices that are rotated and those that are left untouched. I solved this by actually making 27 little cubes in Maya with a tiny amount of space between them and then combining them.</p>
    </div>
  </div>
  
  <div class="clearfix pt-5">
    <img src="assets/img/rubiks_cube_full.gif" alt="Cube albedo" class="rounded float-left px-3 pb-2 responsive-image">

    <div class="px-3">
      <p>I took an actual Rubik's cube and scrambled it. Then I copied this pattern over onto the cube in substance painter and exported the albedo.</p>

      <p>In order to solve the cube I abstracted the turning into 12 functions to turn each side 90 degrees clockwise or counterclockwise. I decided upon a plane that I considered the front plane (blue) and a top plane (white) and then I named the functions similar to what you will see if you look up algorithms for solving the cube (r, rp, l, lp, f, fp, b, bp, u, up, d, dp).</p>

      <p>Finally I just had to actually solve the cube!</p>

      <p>Is this shader efficient? No. I would not actually put this into a game. This was purely an excercise in vertex shader rotation. This is probably something that would have been better to implement on the coding side of things, but it was a fun project.</p>
    </div>
  </div>

</div>