<div class="container clearfix pb-5 mb-5 pt-5">

  <div class="clearfix">
    <a href="assets/img/Megatool.PNG" target="_blank"><img src="assets/img/Megatool.PNG" alt="Mega Tool" class="rounded float-right px-3 pb-4 responsive-image"></a>
    
    <div class="px-3">
      <h4>Mega Tool</h4>
      <p>​Me and my fellow technical artists wrote a Maya tool for our game projects group that would be referred to as the Mega Tool. The tool is meant to streamline a big part of the art creation pipeline.</p>
      <p>A brief outline of the features that I have been involved in writing:</p>

      <h5 class="pt-4">Apply material</h5>
      <p>Lets the user choose a folder with targa files and automatically creates a material for the model and matches the correct color channels of our textures to the correct channels of the material based on our name and texture packing standards.</p>

      <h5 class="pt-4">Export FBX</h5>
      <p>With one button click the user can export a triangulated version of the mesh as an fbx along with the targa files into a location so they can easily be used in unreal by our level designers.</p>
      <p>The tool simultaneously exports a copy of the fbx to our game engine along with the textures that are being converted to dds images in this stage (the DDS converter has a page of it's own).</p>
      <p>When the user tries to export the mesh the files will first be validated and if any problems are detected the tool will say which files appear to be wrong and in what way (more on the file validation below).</p>

      <h5 class="pt-4">Show model in showroom</h5>
      <p>This button will open the model in our game engine so one can see how our shaders and lighting will interact with the mesh and the material.</p>
    </div>
  </div>

  <hr class="mx-3">

  <div class="clearfix">
    <a href="assets/img/Ducky.PNG" target="_blank"><img src="assets/img/Ducky.PNG" alt="Ducky Project Validator" class="rounded img-fluid float-left px-3 responsive-image small-image"></a>
    
    <div class="px-3">
      <h4>Ducky Project Validator</h4>
      <p>​This tool is a file validator that I wrote in C#. It looks through and validates all files in a given folder and its subfolders.</p>
      
      <p>We validate the files to make sure they adhere to our standards. This includes:</p>
      
      <p>Checking that we have no files with other extentions than .tga, .dds or .fbx.</p>
      
      <p>Checking that all files adhere to our name standard. We have a rather detailed name standard so this check is not entirely trivial. I wrote the checks using regular expressions and wrote a hefty amount of unit tests to make sure it was working properly.</p>
      
      <p>Check that our textures are power of two sizes, not larger than 4k and if the entire image is only one color - not larger than 16x16 px.</p>
    </div>
  </div>

  <hr class="mx-3">

  <div class="clearfix">
    <img src="assets/img/DDSConverter.PNG" alt="Mega Tool" class="rounded float-right px-3 pb-4 responsive-image">
    
    <div class="px-3">
      <h5>DDS Converter</h5>
      <p>This is a very minimal tool that I wrote that just takes a to and a from path. With this information it simply takes all the targa files in the from folder and it's subfolder, convertes them to DDS and puts them in the to folder.</p>

      <p>If the to folder does not exist since before, it is created. A neat little feature in this tool is that it will check if the source image is only a single color and if so it will resize the output image to 16x16 pixels.</p>

      <p>The motivation for writing this tool is that our custom game engine uses dds files. The tool is specifically constructed to be easy to integrate with our Mega Tool in maya.</p>
    </div>
  </div>

</div>