<div class="container clearfix pb-5 mb-5 pt-5">

    <div class="row">
      <div class="col-sm-12">
          
        <h4 class="pt-4">Game Counter</h4>
        <p>In the spring of 2018 I started playing one of my old favorites - Diablo 2. Since this game is very centered around doing the same content over and over a lot of times I wanted an easy way to count the number of times I ran a specific part and to get an idea of how long time every run took.</p>

        <p>I built a very basic <a target="_blank" href="http://gamecounter.000webhostapp.com/">web app</a> to get the data I needed. The reasons for going the web approach was partly because I had been working as a web developer until shortly before so it came pretty naturally to me, and partly because I wanted to be able to access it easily from different devices and locations.</p>

        <p>One of the biggest design aspects was that I wanted it to be as easy as possible to count up. For this reason, instead of attaching the functionality to a button, I made the whole page a button - thus drastically minimizing the amount of accuracy needed. When I'm restarting the game to make a new run it takes about one second to load it back up and this turns out to be more than enough time to click the counter and it ties in perfectly with the efficient feeling you get when running the same content many times and trying to min/max the farming.</p>

        <p>It also runs well on a phone or a tablet if you would need it for example when running a game in fullscreen (or even if you wanted to use it for something in the real world).</p>
      </div>
    </div>
  
    <div class="row mt-4 pb-4">
      <div class="col-sm-12">
        <img src="assets/img/game_counter_big.png" alt="Ducky Project Validator" class="rounded img-fluid">
      </div>
    </div>
  
  </div>