<div class="container clearfix pb-5 mb-5 pt-5">

  <div class="row">
    <div class="col-sm-12">
        
      <h4 class="pt-4">Ducky Project Validator</h4>
      <p>​This tool is a file validator that I wrote in C#. It looks through and validates all files in a given folder and its subfolders.</p>
      
      <p>We validate the files to make sure they adhere to our standards. This includes:</p>
      
      <p>Checking that we have no files with other extentions than .tga, .dds or .fbx.</p>
      
      <p>Checking that all files adhere to our name standard. We have a rather detailed name standard so this check is not entirely trivial. I wrote the checks using regular expressions and wrote a hefty amount of unit tests to make sure it was working properly.</p>
      
      <p>Check that our textures are power of two sizes, not larger than 4k and if the entire image is only onoe color - not larger than 16x16 px.</p>
    </div>
  </div>

  <div class="row mt-4 pb-4">
    <div class="col-sm-12">
      <img src="assets/img/Ducky.PNG" alt="Ducky Project Validator" class="rounded img-fluid">
    </div>
  </div>

</div>