<div class="container pb-5 mb-5 pt-5">
  <div class="row mb-4 px-3">
    <div class="col-sm-12 video-container px-3">
      <iframe src="https://www.youtube.com/embed/doYBCagF0Tc?autoplay=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="video px-3" allowfullscreen></iframe>
    </div>
  </div>

  <div class="clearfix">
    <div class="px-3">
      <h3>Spite: Ohtilis Ascension</h3>
      <p>Swarm was the first group project I was involved in at The Game Assembly. It is a 3D shoot 'em up put together in a custom game engine (Jazz engine) written by the programmers in our group.</p>

      <p>We did not have a particle system up and running in the engine by the end of the project so all of our effects are purely HLSL shaders. The content below show some shaders I wrote for the game.</p>

      <p>I must also preface this by saying that I cannot take credit for any of the models below, our graphics team created those - I just wrote the shaders.</p>

      <p>In addition to the shaders I put a significant amount of time into the tools that are described under <a routerLink="../tools">their own page.</a></p>
    </div>
  </div>
</div>
