<div class="container clearfix pb-5 mb-5 gallery">
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../megatool" class="img-fluid">
          <img src="assets/img/Megatool_thumbnail.png" class="img-fluid w-100" alt="Mega Tool" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../ddsconverter" class="img-fluid">
          <img src="assets/img/DDSConverter_thumbnail.png" class="img-fluid w-100" alt="Ducky File Validator" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../ducky" class="img-fluid">
          <img src="assets/img/Ducky_thumbnail.png" class="img-fluid w-100" alt="DDS Converter" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <a routerLink="../gamecounter" class="img-fluid">
          <img src="assets/img/game_counter_thumbnail.png" class="img-fluid w-100" alt="Game Counter" />
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
        </a>
      </div>
    </div>
  </div>
</div>