// // variable overrides
$theme-colors: (
    "dark": #26282d
);

$primary: #dbb6ab;

$body-bg: #1e2025;
$body-color: #d0d0d0;
$credits-color: #808080;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


// // bootstrap sass files
@import "node_modules/bootstrap/scss/bootstrap";



// Class overrides

h1 h2 h3 h4 h5 h6{
    color: $primary;
}

hr {
    background-color: #666;
    margin: 2em 0;
}

.jumbotron {
    background: none;
}

.navbar-dark .nav-link .nav-link {
    color: $body-color;
}


html {
    font-size: 0.9rem;
}



// Custom


.small-image{
    max-width: 538px;
}

@include media-breakpoint-up(xs) {
    .responsive-image{
        width: 100%;
    }
}

@include media-breakpoint-up(sm) {
    .responsive-image{
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .responsive-image{
        width: auto;
    }
}
 
.video-container {
    width: 100%;
    padding-top: 56.25%;

    .video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        // text-align: center;
    }
}

.gallery .card {
    transition: transform 1s, box-shadow .2s;
}

.gallery .card:hover {
    // transform: scale(.98);
    box-shadow: 0 0 2px 2px $body-color;
}

.gallery .card-img-overlay {
    transition: background .5s;
}

.gallery .card-img-overlay:hover {
    background: rgba(0.8,0.8,0.8,0.2);
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.credits{
    color: $credits-color;
    font-style: italic;
    
    h1{
        font-size: 1.3em;
    }

    h2{
        font-size: 1.1em;
    }

    a{
        font-size: 0.9em;
        color: $credits-color;
    }
}

//   @include media-breakpoint-up(sm) {
//     html {
//       font-size: 1.2rem;
//     }
//   }
  
//   @include media-breakpoint-up(md) {
//     html {
//       font-size: 1.4rem;
//     }
//   }
  
//   @include media-breakpoint-up(lg) {
//     html {
//       font-size: 0.9rem;
//     }
//   }